*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

:root{
    --color-naranja:#D1A542;
    --color-grisclaro:#B3B3B3;
    --color-grisoscuro:#696979;
    --color-blanco:#E8E6E7;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 20vh;
    margin-bottom: 2rem;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
}

.cont-logo{
    display: flex;
    height: 20vh;
}

nav p{
    font-weight: bolder;
}

.card picture img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
}

.card a{
    text-decoration: none;
    color: black;
}

.card a:hover{
    color: var(--color-naranja);
}

.card .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.5rem;
    justify-content: center; 
    align-items: flex-start; 
}

p {
    margin: 0;
}

.card h3{
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: .09rem;
}

p.precio{
    font-weight: bold;
    font-size: 1.2rem;
}

p.clarito{
    color: var(--color-grisclaro);
    font-size: 0.9rem;
    font-weight: 400;
}

footer{
    display: flex;
    flex-direction: column;
    height: 10vh;
}