*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-naranja:#D1A542;
    --color-grisclaro:#B3B3B3;
    --color-grisoscuro:#696979;
    --color-blanco:#E8E6E7;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 20vh;
    
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
}

.cont-logo{
    display: flex;
    height: 20vh;
}

nav p{
    font-weight: bolder;
}

.card picture img{
    width: 100%;
    height: auto; /* La imagen ocupa la mitad de la card */
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-radius: 10px; /* Bordes redondeados para dar un aspecto más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    overflow: hidden; /* Asegura que la imagen no se salga de los bordes redondeados */
    transition: transform 0.3s ease; /* Animación suave cuando se pasa el mouse */
}

.card:hover {
    transform: scale(1.05); /* Un ligero agrandamiento al hacer hover */
}

.card .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.5rem;
    justify-content: center; /* Esto lo mantenemos para distribuir el espacio */
    align-items: flex-start; /* Alinea el texto a la izquierda */
}

p {
    margin: 0;
}

p.precio{
    font-weight: bold;
    font-size: 1.2rem;
}

p.clarito{
    color: var(--color-grisclaro);
    font-size: 0.9rem;
}